
body{
    overflow-x: hidden;
}
#header-container {

    width: 100vw;
    height: 1080px;
    color: white;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url('../img/background.jpg');

    background-repeat: no-repeat;
    background-size: 100%;
}


#header {
    display: flex;
    justify-content: flex-end;
}
#header > ul {
    flex-grow: 0;
}
#header li {
    display: inline-block;
    margin: 50px 75px;
}

#header a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#header a:hover{
    opacity: 0.7;
}

#logo > a{
    font-size: 30px;
}
#logo {
    margin: 40px 75px;
    flex-grow: 1;
}
#scroll-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
    text-align: center;
}

#scroll-down > img {
    height: auto;
    width: 45px;
}





/* main body */

#main-body{

    width: 100vw;
    min-height: 2200px;
    height: auto;
    color: white;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)
    ),
    url('../img/body-background.jpg');

    background-repeat: no-repeat;
    background-size: 100%;
} 

.body-flex-container{
    display: flex;
    height: inherit;
}

.body-flex-container li {
    display: flex;
}

#product-filter{
    flex-grow: 0;
    padding: 70px;
}
#product-filter > h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
}

#guitar-type > li{
    margin-top: 20px;
    margin-bottom: 10px;
}

.subname {
    font-size: 1.2em;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#price-diapason > input{
    width: 70px;
    height: 30px;
    margin-right: 8px;
    margin-left: 8px;
}


#guitar-type > li > label {
    margin-top: 3px;
}

#guitar-type > li > .radio-container {
    margin-right: 10px;
}

#product-container{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    height: auto;
    width: auto;
    margin: 80px 100px 0px 20px;
    position: relative;
}

#product-container-background{
    
    background-color: #D7D7D7;
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.product-flex-container{
    display: flex;
    /*position: absolute;*/
    z-index: 2;
    width: 100%;
    height: auto;
}

.product-flex-container:first-child{
    
    top: 0px;
    left: 0px;
}

.product-flex-container > div {
    width: inherit;
    height: auto;
    margin: 30px;
}

/*
.product-flex-container > div > div {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: white;
}

.product-flex-container > div > div:first-child {
    background-color: white;
}*/

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
    background-color: white;
    height: 40px;
    margin-top: 10px;
}
.flex-container > div:first-child {
    margin-top: 0px;
    height: 420px;
    background-color: rgb(255, 255, 255);
}
.flex-container > div:nth-child(2){
    width: 70%;
    margin-left: 59.5px;
}
.flex-container > div:nth-child(3){
    width: 40%;
    margin-left: 120.5px;
}



/*  custom radio input   */   

.radio-container{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #FFF;
    border-radius: 100%;
    cursor: pointer;
}
.custom-radio{
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    background-color: white;
    z-index: 2;
}
.radio-container > input{
    width: 25px;
    height: 25px;
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -7px;
    z-index: 1;
    cursor: pointer;
}


.radio-container > input:checked + .custom-radio{
    width: 10px;
    height: 10px;
}

/*  custom radio input  */ 

